@tailwind base;
@tailwind components;
@tailwind utilities;

.launcher-yellow { color: #ffcf0d; }
.launcher-bg-yellow { background-color: #ffcf0d; }
.launcher-brown { color:#714b1d; }
.launcher-bg-brown { background-color: #714b1d; }

@font-face { font-family: HYImpact; src: url("/Font/HYImpact-Regular.ttf"); } 

html, body {

    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;

}

*:not(input[type="text"]) {

    caret-color: transparent;

}

::-webkit-scrollbar {

    @apply w-2

}

::-webkit-scrollbar-track {

    @apply bg-black/5 rounded-full

}

::-webkit-scrollbar-thumb {

    @apply bg-black/10 rounded-full

}

::-webkit-scrollbar-thumb:hover {

    @apply bg-black/20

}

div[data-theme="mhy-ui"] div[data-role="form"] section {

    @apply inline-flex items-center

}

div[data-theme="mhy-ui"] div[data-role="form"] section label {

    @apply ms-2

}

div[data-theme="mhy-ui"] div[data-role="form"] h3 {

    @apply text-lg hy-impact-font

}

div[data-theme="mhy-ui"] *[data-role^="input"] {

    @apply transition-all ease-in-out text-zinc-700 rounded-md hover:bg-gray-200/70

}

div[data-theme="mhy-ui"] div[data-role="input checkbox"] {

    @apply w-6 h-6 border-[2px] border-gray-200 flex flex-row justify-center items-center

}

div[data-theme="mhy-ui"] div[data-role="input checkbox"][data-checked] {

    @apply bg-zinc-700 text-lightgolden

}

div[data-theme="mhy-ui"] div[data-role="input radio"] {

    @apply rounded-full w-6 h-6 border-[2px] border-gray-200 flex flex-row justify-center items-center p-1 cursor-pointer

}

div[data-theme="mhy-ui"] div[data-role="input radio"] > div[data-role="check"] {

    @apply rounded-[50%] bg-zinc-700 w-full h-full

}

div[data-theme="mhy-ui"] input[data-role="input text"] {

    @apply w-full py-2 px-4 caret-zinc-700 rounded-md outline-none focus:text-golden border-[2px] border-gray-200

}

div[data-theme="mhy-ui"] button[data-role="button"], div[data-theme="mhy-ui"] .listbox-button {

    @apply transition-all ease-in-out bg-white text-golden font-medium border-[2px] border-gray-200 py-3 px-9 inline-flex items-center justify-center cursor-pointer rounded-md hover:bg-gray-200/70 disabled:opacity-80 disabled:cursor-default

}

div[data-theme="mhy-ui"] button[data-role="button"][data-highlight] {

    @apply bg-zinc-700 text-lightgolden border-none py-3 px-9 inline-flex items-center justify-center hover:bg-zinc-800

}

div[data-theme="mhy-ui"] .listbox-button {

    @apply inline-flex items-center justify-between py-2 px-4 gap-x-3

}

div[data-theme="mhy-ui"] .listbox-button, div[data-theme="mhy-ui"] .listbox-dropdown {

    @apply w-64

}

div[data-theme="mhy-ui"] .listbox-dropdown {

    @apply absolute z-50 flex flex-col mt-1 border-[2px] border-gray-200 bg-white text-left rounded-md [&>:first-child]:rounded-t-md [&>:last-child]:rounded-b-md

}

div[data-theme="mhy-ui"] .listbox-dropdown .item {

    @apply py-3 px-4 text-zinc-700 cursor-pointer hover:bg-gray-200/80 hover:text-golden

}