[submodule "Dodoco.Core/Hi3Helper.SharpHDiffPatch"]
	path = Dodoco.Core/Hi3Helper.SharpHDiffPatch
	url = https://github.com/neon-nyan/Hi3Helper.SharpHDiffPatch.git
[submodule "Dodoco.Core/MultiStream"]
	path = Dodoco.Core/MultiStream
	url = https://github.com/jplane/MultiStream.git
