[submodule "Dodoco.Core/Hi3Helper.SharpHDiffPatch"]
	path = Dodoco.Core/Hi3Helper.SharpHDiffPatch
	url = https://github.com/neon-nyan/Hi3Helper.SharpHDiffPatch.git
[submodule "Dodoco.Core/MultiStream"]
	path = Dodoco.Core/MultiStream
	url = https://github.com/jplane/MultiStream.git
[submodule "Dodoco.Hooks/Source/Library/minhook"]
	path = Dodoco.Hooks/Source/Library/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "Dodoco.Hooks/Source/Library/argparse"]
	path = Dodoco.Hooks/Source/Library/argparse
	url = https://github.com/p-ranav/argparse.git
