@tailwind base;
@tailwind components;
@tailwind utilities;

.launcher-yellow { color: #ffcf0d; }
.launcher-bg-yellow { background-color: #ffcf0d; }
.launcher-brown { color:#714b1d; }
.launcher-bg-brown { background-color: #714b1d; }

@font-face { font-family: HYImpact; src: url("/Font/HYImpact-Regular.ttf"); } 

html, body {

    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;

}

*:not(input[type="text"]) {

    caret-color: transparent;

}

::-webkit-scrollbar {

    @apply w-2

}

::-webkit-scrollbar-track {

    @apply bg-black/5 rounded-full

}

::-webkit-scrollbar-thumb {

    @apply bg-black/10 rounded-full

}

::-webkit-scrollbar-thumb:hover {

    @apply bg-black/20

}

.input {

    @apply transition-all ease-in-out text-zinc-700 rounded-md text-sm hover:bg-gray-200/70 cursor-pointer

}

.input.text {

    @apply py-2 px-4 border-[2px] border-gray-300 rounded-md hover:bg-transparent cursor-auto caret-zinc-700 focus:outline-golden

}

.input.checkbox {

    @apply w-6 h-6 border-[2px] border-gray-200 flex flex-row justify-center items-center

}

.input.checkbox.checked {

    @apply bg-zinc-700 text-lightgolden

}

.input.radio {

    @apply rounded-full w-6 h-6 border-[2px] border-gray-200 flex flex-row justify-center items-center p-1

}

.input.radio .check {

    @apply rounded-[50%] bg-zinc-700 w-full h-full

}

.input.listbox-button {

    @apply w-64 flex flex-row items-center justify-between py-2 px-4 gap-x-3

}

.input.dropdown {

    @apply absolute z-50 w-64 flex flex-col mt-1 border-[2px] border-gray-200 bg-white text-sm text-left rounded-md [&>:first-child]:rounded-t-md [&>:last-child]:rounded-b-md

}

.input.dropdown .item {

    @apply py-3 px-4 text-zinc-700 hover:bg-gray-200/80

}

.input.dropdown .item:hover {

    @apply text-golden

}

button.input {

    @apply bg-white text-golden font-medium border-[2px] border-gray-200 py-3 px-9 inline-flex items-center justify-center disabled:opacity-80 disabled:cursor-default

}

button.input.highlight {

    @apply bg-zinc-700 text-lightgolden border-none py-3 px-9 inline-flex items-center justify-center hover:bg-zinc-800

}