@tailwind base;
@tailwind components;
@tailwind utilities;

.launcher-yellow { color: #ffcf0d; }
.launcher-bg-yellow { background-color: #ffcf0d; }
.launcher-brown { color:#714b1d; }
.launcher-bg-brown { background-color: #714b1d; }

@font-face { font-family: HYImpact; src: url("/Font/HYImpact-Regular.ttf"); } 

html, body {

    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;

}

*:not(input[type="text"]) {

    caret-color: transparent;

}

::-webkit-scrollbar {

    @apply w-2

}

::-webkit-scrollbar-track {

    @apply bg-black/5 rounded-full

}

::-webkit-scrollbar-thumb {

    @apply bg-black/10 rounded-full

}

::-webkit-scrollbar-thumb:hover {

    @apply bg-black/20

}

.input {

    @apply transition-all ease-in-out border-[1px] border-gray-300 text-gray-800 rounded-xl text-sm hover:bg-gray-200/80 cursor-pointer

}

.input.text {

    @apply py-2 px-4 rounded-md hover:bg-transparent cursor-auto caret-gray-800

}

.input.checkbox {

    @apply rounded-lg w-6 h-6 flex flex-row justify-center items-center

}

.input.radio {

    @apply rounded-full w-6 h-6 flex flex-row justify-center items-center p-1

}

.input.radio .check {

    @apply rounded-[50%] bg-gray-800 w-full h-full

}

.input.listbox-button {

    @apply w-64 flex flex-row items-center justify-between py-2 px-4 gap-x-3

}

.input.dropdown {

    @apply w-64 flex flex-col mt-1 border-[1px] border-gray-300 bg-white text-sm text-left rounded-xl [&>:first-child]:rounded-t-xl [&>:last-child]:rounded-b-xl cursor-pointer

}

.input.dropdown .item {

    @apply py-3 px-4 text-gray-800 hover:bg-gray-200/80

}

button.input {

    @apply py-2 px-4 inline-flex items-center justify-center

}